<div id="header" class="skel-panels-fixed">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <span class="image avatar48"><img src="images/java-logo-psd-20130408.jpg" alt="" /></span>
            <h1 id="title">Java Q & A</h1>            
        </div>

        <!-- Nav -->
        <nav id="nav">
            <!--

                Prologue's nav expects links in one of two formats:

                1. Hash link (scrolls to a different section within the page)

                   <li><a href="#foobar" id="foobar-link" class="skel-panels-ignoreHref"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>

                2. Standard link (sends the user to another page/site)

                   <li><a href="http://foobar.tld"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>

            -->
            <ul>
                <li><a href="index" id="top-link" class="skel-panels-ignoreHref"><span class="fa fa-home">Home</span></a></li>
                <li><a href="index#catagory" id="catagory-link" class="skel-panels-ignoreHref"><span class="fa fa-th">Catagory</span></a></li>
                <li><a href="index#contact" id="contact-link" class="skel-panels-ignoreHref"><span class="fa fa-envelope">Contact</span></a></li>
                <li><a href="iinstall" id="contact-link" class="skel-panels-ignoreHref"><span class="fa fa-file">Install</span></a></li>
            </ul>
        </nav>

    </div>

    <div class="bottom">

        <!-- Social Icons -->
        <ul class="icons">
            <li><a href="http://twitter.com/share?url=http://javaqanda.cf/&text=java q and a at " target="_blank" class="fa fa-twitter solo"><span>Twitter</span></a></li>
            <li><a href="http://www.facebook.com/sharer.php?u=http://javaqanda.cf/" class="fa fa-facebook solo"><span>Facebook</span></a></li>
            <li><a href="https://plus.google.com/share?url=http://javaqanda.cf/" class="fa fa-google-plus solo"><span>Google</span></a></li>
            <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://javaqanda.cf/" class="fa fa-linkedin solo"><span>LinkedIn</span></a></li>
            <li><a href="mailto:gwaydust@gmail.com?Subject=Java%20Q%20and%20A&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://javaqanda.cf/" class="fa fa-envelope solo"><span>Email</span></a></li>
        </ul>
    </div>

</div>